*{
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.wrap__overflow{
   overflow: hidden;
   max-width: 100%;
}
body{
    margin: 0;
    font-family: 'Tahoma', sans-serif;
    background-color: #232323;
}
.header{
    height: 800px;
    width: 100%;
    padding-top: 28px;
    background-color: #f3e1d5;
    background-image: url('img/доделаем1.png');
    background-size: cover;
    background-position: center;
}

::selection{
    background-color: #665eaf;
}

.header__nav-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.header__logo{
    font-family: 'Montserrat', sans-serif;
    color: #f3e1d5;
    font-weight: 600;
    text-decoration: none;
    font-size: 17px;
}

.header__nav-link{
    font-family: 'Montserrat', sans-serif;
    color: #f3e1d5;
    text-decoration: none;
    margin-right: 52px;
    font-size: 15px;
    font-weight: 300;
}

.header__nav-link:last-child{
    margin-right: 0;
}

.header__nav-link:hover{
    border-bottom: 1px solid #f3e1d5;
    cursor: pointer;
}
.top-info__row{
    display: flex;
    justify-content: space-around;
}
.header__button{
    color: #f3e1d5;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    cursor: progress;
    font-size: 15px;
    font-weight: 300;
}

.games-drop{
    display: inline-block;
    position: relative;
}
.game-drop-down{
    position: absolute;
    display: none;
    width: 100%;
    height: auto;
    max-width: 100px;
    background-color: #f3e1d5;
    z-index: 3;
    transition-duration: 1s;
    animation: opacity-text 0.8s ease-in-out;
}
.drop-game-block{
   display: block;
}
.wrapper-text-game{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.game-text{
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 15px;
    margin-left: 4px;
    cursor: pointer;
    text-decoration: none;
    padding-top: 7px;
    padding-left: 3px;
    padding-right: 3px;
    transition-duration: 0.2s;
}
.game-text:last-child{
    padding-bottom: 7px;
}
.game-text:hover{
    color: rgb(133, 133, 133);
}
.sidebar{
    border-radius: 0 45px 45px 0;
    position: fixed;
    width: 275px;
    height: 680px;
    background-color: #5e56a5;
    border-right: 4px solid #5e56a5;
    left: -280px;
    -moz-transition: all 1200ms;
    -webkit-transition: all 1200ms;
    transition: all 1200ms;
    z-index: 5;
}
.sidebar.active{
        left:0;
    }

.sidebarul{
    margin-right: 10%;
    font-family: 'Montserrat', sans-serif;
    color:black;
    font-size: 27px;
    font-weight: 640;
    list-style: none;
    padding-bottom: 10px;
    padding-right: 20px;
}

.sidebarli{
    margin-right: 10%;
    font-family: 'Montserrat', sans-serif;
  color:black;
    font-size: 21px;
    list-style: none;
    font-weight: 450;
}

.wrapper-side{
    position: absolute;
    left:290px;
    top: 10px;
}

.toggle-btn{
    position: fixed;
    background-color: #E0E5EA;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
    z-index: 3;
    display: none;
}

/* .toggle-btn::after{
display: none;
 content: '';
 position: absolute;
 box-shadow: 1px 1px 2px 2px #E0E5EA, 1px 2px 3px 3px #b5c7da , 2px 1px 6px 3px #b5c7da ;
 border-collapse: collapse;  
 left: -5px;
 right: -5px;
 top: -5px;
 bottom: -5px;
 animation: liff 10s ease-in-out alternate infinite;
 border-radius: 12px;
 z-index: -10;
}
.toggle-btn.tool::after{
    display: block;
}
.toggle-btn.tool::before{
    display: block;
}

.toggle-btn::before{
    display: none;
    content: '';
    position: absolute;
    box-shadow: 1px 1px 2px 2px #E0E5EA, 2px 1px 3px 3px #b5c7da, 1px 2px 4px 3px #b5c7da ;
    border-collapse: collapse;  
    left: -5px;
    right: -5px;
    top: -5px;
    bottom: -5px;
    animation: liff 8s ease-in-out alternate infinite;
    border-radius: 12px;
    z-index: -8;
   } */

/* @keyframes liff {
    from{
       transform: rotate(0deg) scale(0.8) ;

    }
    to{
        transform: rotate(360deg) scale(0.9);
    }
} */

.sidebar .toggle-btn span{
    display: block;
    width: 25px;
    height: 4px;
    background-color: #666;
    margin: 4px 0;
    transition-duration: 0.8s;
    z-index: 4;
}

.toggle-btn.active{
    background-color: #E0E5EA;
    margin: 0;
    width: 45px;
    height: 45px;
}

#span1.active{
    display: none;
}
#span2.active{
    width: 25px;
    transform: rotate(45deg) translateX(4px) translateY(5px); 
}
#span3.active{
    width: 25px;
    transform: rotate(-45deg) translateX(1px) translateY(-1px);
}


.kartinka{
    display: flex;
    font-size: 50px;
   align-items: center;
   transition-duration: 1s;
   animation: leftRight 5.5s ease-in-out alternate infinite;  
   /* длительность , функция, направление(сначало в прямом потом в обратном направлении работает), кол  */
   cursor: pointer;
}
@keyframes leftRight{
    from {
		margin-left: 35px;
	}
	to {
		margin-left: 180px;
	}
}

.texttt1{
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.mac {
    position: relative;
    top: 53px;
    left: 238px;
    width: 841px;
    height: 654px;
    max-width: 100%;
    height: auto;
}


.mactext{
    display: flex;
    flex-direction: column;
position: absolute;
margin: 80px;
margin-top: 82px;
left:0;
top: 0;
}


.mactext1, .mactext2{
    font-family: 'Montserrat', sans-serif;
    font-size: 44px;
    color: snow;
}

.mactext3, .mactext4, .mactext5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 65px;
    color: snow;
    font-weight: 800;
    transition-duration: 2.5s;
}

.mactext5:hover{
    text-shadow:
    0 0 2px rgba(255,255,255,.8),
    0 0 8px rgba(255,255,255,.8),
    0 0 12px rgb(108, 101, 153),
    0 0 20px rgb(108, 101, 153),
    0 0 40px rgb(108, 101, 153),
    0 0 80px rgb(108, 101, 153);
}

.mactext55{

    text-shadow:
    0 0 2px rgba(255,255,255,.8),
    0 0 8px rgba(255,255,255,.8),
    0 0 12px rgb(108, 101, 153),
    0 0 20px rgb(108, 101, 153),
    0 0 40px rgb(108, 101, 153),
    0 0 80px rgb(108, 101, 153);
}

.mac1{
    position: relative;
    top: 147px;
    left: -50px;
    max-width: 100%;
    height: auto;
}
.mactextt{
display: flex;
flex-direction: column;
position: absolute;
margin: 60px;
left:0;
top: 0;
}
.mactext6,.mactext7 {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    color: snow;
}
.mactext8, .mactext9, .mactext10{
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    color: snow;
    font-weight: 800;
    transition-duration: 1s;
}

.mactext10:hover{
    text-shadow:
    0 0 2px rgba(255,255,255,.8),
    0 0 8px rgba(255,255,255,.8),
    0 0 12px rgb(108, 101, 153),
    0 0 20px rgb(108, 101, 153);
}

.mac2{
    position: relative;
    top: 356px;
    left: -160px;
    max-width: 100%;
    height: auto;
}

.mactexttt{
    display: flex;
flex-direction: column;
position: absolute;
margin: 55px;
left:0;
top: 0;
}
.mactext11, .mactext12 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: snow;
}
.mactext13, .mactext14, .mactext15 {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    color: snow;
    font-weight: 800;
    transition-duration: 1s;
}

.mactext15:hover{
    text-shadow:
    0 0 2px rgba(255,255,255,.8),
    0 0 8px rgba(255,255,255,.8),
    0 0 12px rgb(108, 101, 153),
    0 0 20px rgb(108, 101, 153);
}
.otstup{
    margin-top: 15px;
}

.otstup1{
    margin-top: 20px;
}
.otstup2{
    min-height: 20vh;
}
.otstup6{
    padding: 30px;
}
.otstup7{
    padding: 20px;
}

.popup_line{
    display: none;
    z-index: 3000;
}
.otstup11{
    margin-bottom: 60px;
}

#popup_menu_id{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5%;
    right: 2%;
}
#popup_menu_id img:hover , #popup_menu_id p:hover{
    cursor: pointer;
}
#popup_menu_id p{
    display: inline-block;
    font-size: calc(0.5vw + 1em);
}



.comtainer{
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden; 
}
.container2{
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
}
.top-info{
    padding-top: 44px;
    padding-bottom: 60px;
}
.info--wide{
    position: relative;
    width: 100%;
    height: 402px;
    max-width: 902px;
}
.perviy-class-video{
    position: absolute;
    display: block;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.perviy-class-video:focus{
    outline: none;
}
.info{
    position: relative;
    width: 100%;
    height: 402px;
    max-width: 418px;
    overflow: hidden;
}
.info-content{
    display: block;
    opacity: 0.9;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 76, 255, 0.75); */
    font-family: 'Teko' , sans-serif;
    transition: opacity 0.2s ease-in;
    transition-duration: 0.8s;
}
.info-content::before , .info-content.sec::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 90%;
    transition-duration: 1.5s;
    transform: scale(0, 0);
}
.info-content::before{
    background-image: url('img/moyo_pochtenie_podnimayu_bokal_Za_Vas_Dikaprio.gif');
    background-size: cover;
}
.info-content.sec::before{
    background-image: url('img/tenor.gif');
    background-size: cover;
}

.info-content.activeinfo::before{
    transform: scale(0.4, 0.4);
}

.info-content-title{
    position:absolute;
    width: 100%;
    bottom: 0;
    left:0;
    padding: 156px 100px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color:snow;
    z-index: 10;
    transition-duration: 0.5s;
    cursor: pointer;
}
.info-active{
    padding: 0px 100px; 
    bottom: 2%;
}

.content{
    /* margin-top: 30px; */
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .background{
    background-color: rgb(131, 97, 199);
    width: 100%;
    max-width: 400px;
    height: auto;
    /* clip-path: polygon(0 0, 96% 0, 98% 89%, 56% 90%, 48% 100%, 40% 90%, 3% 89%); */
  }
  .content-to-do{
    width: 100%;
    max-width: 250px;
    margin: 40px auto;
  }
  .name-to-do{
    color: snow;
    padding: 14px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background: #232323;
  }
  .text-to-do{
      text-align: center;
      color: snow;
      font-family: 'Montserrat', sans-serif;
      font-size: 30px;
      font-weight: 700;
      background: #232323;
  }
  .anim-to-do{
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: snow;
      margin: 30px auto;
      position: relative;
      box-shadow: 1px 1px 2px 2px #E0E5EA, 2px 1px 3px 3px #b5c7da, 1px 2px 4px 3px #b5c7da ;
      animation: liff 16s ease-in-out alternate infinite;
  }
  .anim-to-do::before{
    content: '';
    position: absolute;
    border: 1px solid #fff;
    box-shadow: 1px 1px 2px 2px #E0E5EA, 2px 1px 3px 3px #b5c7da, 1px 2px 4px 3px #b5c7da ;
    border-collapse: collapse;  
    left: -9px;
    top: -15px;
    animation: liff 20s ease-in-out alternate infinite;
    z-index: -8;
    border-radius: 10px;
  }

  .result{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  .span-div{
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .wrapper-todo{
      display: flex;
      justify-content: space-between;
  }
  
  .btn_to_do{
    background: crimson;
    border: none;
    padding: 4px;
    cursor: pointer;
    font-size: 12px;
    height: 20px;
    width: 20px;
    margin-left: 10px;
    color: #fff;
    z-index: 10;
  }

  .listen{
       width: 20px;
       height: 20px;
       cursor: pointer;
       margin-left: 10px;
  }
  
  .li{
    display: grid;
    grid-template-columns: 6fr 1fr 1fr;
    padding: 10px 16px;
    background: #fff;
    border: 1px solid #232323;
    margin: 10px 0;
    z-index: 5;
    width: 100%;
    height: auto;
    text-transform: capitalize;
    word-break:break-all;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    transition-duration: 1.5s;
    cursor: pointer;
  }
  
  .li-active{
    text-decoration: line-through;
    background:#006400;
  }
  
  .li-active .btn_to_do{
    background: #232323;
    color: snow;
    text-decoration: none;
  }
  
  .button-input{
    margin-left: 8px;
    background-color: #232323;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    cursor: pointer;
    width: 60px;
    height: 30px;
    box-shadow: 5px 5px 2px rgb(255 255 255 / 80%), 
    5px 5px 4px rgb(255 255 255 / 80%), 
    5px 5px 6px rgb(108 101 153),
     5px 5px 8px rgb(108 101 153);
     outline:0;outline-offset:0;
  }
   .button-stop{
    margin-left:8px;
    margin-top: 20px;
    background-color: #232323;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    cursor: pointer;
    width: 60px;
    height: 60px;
    box-shadow: 5px 5px 2px rgb(255 255 255 / 80%), 
    5px 5px 4px rgb(255 255 255 / 80%), 
    5px 5px 6px rgb(108 101 153),
     5px 5px 8px rgb(108 101 153);
     outline:0;outline-offset:0;
   }

  .input-to-do{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    padding: 10px 12px;
    width: 150%;
    max-width: 190px;
    height: 200px;
    font-weight: 500;
  }


.products{
    padding-top: 85px;
}

.products__title{
    color:snow;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 800;
    line-height: 1.3;
    text-transform: uppercase;
    margin-bottom: 55px;
    text-align: center;
}
.products__title.act{
    margin-bottom: 15px;
}



.products__title1{
    color:snow;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 45px;
    text-align: center;
    cursor: pointer;
    transition-duration: 1s;
}

.togl{
    width: 45px;
    height: 45px;
    border-right: 4px solid black;
    border-top: 4px solid black;
    transform:rotate(135deg);
    margin-bottom: 30px;
    cursor: pointer;
    transition-duration: 1s;
}
.toglactive{
    transform:rotate(-45deg);
    margin-bottom: 0;
    transition-duration: 1s;
}

.togl-product{
    box-shadow: -1024px 20px 0 -17px #eee,
             1024px -20px 0 -17px #eee,
            20px 20px 0 -20px #9370DB,
            0 0 0 2px #9370DB;
    padding: 10px;
}
.ligth{
    box-shadow: -1024px 20px 0 -17px #eee,
    1024px -20px 0 -17px #eee,
   20px 20px 0 -20px #9370DB,
   0 0 0 2px #9370DB;
      margin-top: 50px;
      width: 100%;
      animation: opacity-text 1.5s ease-in-out;
}



.po{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26.25vw;
}

.mainCalculator{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonCalc{
    font-family: 'Montserrat', sans-serif;
    width: 50px;
    height: 50px;
    font-size: 16px;
    background: #0c2835;
    border: 1px solid rgba(0,0,0,.1);
    transition-duration: 0.8s;
    color: #fff;
    outline: none;
}
.buttonCalc:hover {
    background: #183b4b;
    box-shadow: 0 0 10px #183b4b;
    cursor: pointer;
}

.textweu{
    font-family: 'Montserrat', sans-serif;
    width: 210px;
    height: 120px;
    margin-bottom: 3px;
    font-size: 20px;
    text-align: right;
    border: none;
   outline: none;
   transition-duration: 1s;
}
.textweu:hover{
    box-shadow: 0 0 10px #d5e8f1,
    0 0 12px #d5e8f1;
    border: 1px solid rgba(0,0,0,.1);
}

.buttonCalcEval{
    font-family: 'Montserrat', sans-serif;
    width: 47px;
    height: 102px;
    outline: none;
    font-size: 16px;
    transition-duration: 0.8s;
    /* background: #03b1ff; */
    background: #9370DB;
    border: 1px solid rgba(0,0,0,.1);
    color:#fff;
    margin-left: 2px;
}

.buttonCalcEval:hover {
    background:  #c3a8f8;
    box-shadow: 0 0 10px #c3a8f8;
    cursor: pointer;
} 
.buttonCalcC{
    font-family: 'Montserrat', sans-serif;
    height: 46px;
    width: 102px;
    outline: none;
    font-size: 16px;
    /* background: #ff3077; */
    background: #DA70D6;
    transition-duration: 0.8s;
    border: 1px solid rgba(0,0,0,.1);
    color: #fff;
    margin-left: 1px;
}
.buttonCalcC:hover {
    background:  rgb(251, 191, 212);
    box-shadow: 0 0 10px rgb(251, 191, 212);
    cursor: pointer;
}


.footer{
    padding-top: 10px;
}
.container5{
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
}

.footer_row{
    display: flex;
    justify-content: space-between;
}
.footer_column{

    max-width: 250px;
    color: snow;
    margin-left: 20px;
    margin-right: 20px;
}

.footer_title{
    font-family: 'Montserrat', sans-serif;
     font-size: 22px;
    font-weight: 600;
    line-height: 1px;
}

.footer_text{
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    line-height: 1.5;
    font-weight: 350;
}

.footer-list{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 350;
}
.footer-list_item{
    margin-bottom: 15px;
}

.socials{
display: flex;
flex-direction: row;
}


.social-item{
    width: 50px;
    height: 50px;
    margin: 1px;
    transition-duration: 0.5s;
}
.social-item:not(:first-child){
    margin-left: 8px;
}
.social-item:hover{
    transform: translate3d(0, -4px ,0);
}
.coopyright{
    max-width: 1310px;
    border-top: 1px solid #b2b2b2;
    padding-top: 40px;
    padding-bottom: 50px;
}
.container7{
    display: flex;
    justify-content: space-between;
    
}
.coopyight-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: snow;
    margin-left: 20px;
    

}
.coopyight-text1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: snow;
    text-decoration: none;
    margin-right: 20px;
}


.popup{
    padding: 2.5%;
    display: none;
    position: fixed;
    z-index: 6;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color:rgb(0, 0, 0, 0.8);
    cursor: pointer;
}

.close{
    margin-left: auto;
    position: absolute;
    top: 7%;
    right: 4%;
    transition-duration: 0.8s;
    z-index: 2;
}
.close:hover,
.close:focus
{
transform: scale(1.2,1.2);
text-decoration: none;
cursor: pointer;
}

.closeMouseOver{
transform: scale(1.1,1.1);
}

.popup_center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup_content{
    text-align: center;
    position: relative;
    margin: 0;
    padding: 0;
    width: 38%;
    max-width: 460px;
    animation-name: animationtop;
    animation-duration: 1s;
    cursor: default;
}

.pict_popap{
    max-width: 100%;
    vertical-align: top;
    border-radius: 24px;
}


@keyframes animationtop{
 from{
     opacity: 0;
     transform: scale(0.5,0.5);
 }
 to{
    transform: scale(1,1);
     opacity: 1;
 }
}


.verh{
    margin: 0;
    padding: 0 30px;
    width: 100%;
   font-family: 'Poppins' , sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: #232323;
   overflow: hidden;
   display: none;
   animation: opacity-text 1.5s ease-in-out;
}
@keyframes opacity-text{
     from{
      opacity: 0;
     }
     to{
        opacity: 1;
     }
}
.Andry{
    position: relative;
    display: block;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    font-size: 80px;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
}
.Andry:hover{
    color: #fff;
    -webkit-text-stroke: 1px #232323;
    cursor: pointer;
}
/* attr(дает поулчить свойство из html) */
.Andry::before,                                        
.Andry::after{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s;

}
.Andry:hover::before{
color: #00BFFF;
z-index: 1;
-webkit-text-stroke: 1px#232323;
transform: translate(10px,-10px);
}
.Andry:hover::after{
    color: #9370DB;
    z-index: 2;
    -webkit-text-stroke: 1px #232323;
    transform: translate(20px,-20px);
}


.dvoynoy{
    background-color: #232323;
    display: flex;
    justify-content: center;
}


.dv1{
    color: snow;
    font-size: 52px;
    font-family: 'Montserrat', sans-serif;
    flex-flow: 1;
}
.dv2{
    flex-flow: 1;
    position: relative;
}
.tubl{
    display: block;
}

.relat{
    position: relative;
}
.pict_krug{
    margin-left: 2em;
    clip-path: polygon(5% 5%, 100% 10%, 900% 75%, 75% 75% , 75% 100% , 60% 75% , 20% 80%);
    transition: 1s ease-in-out;
    width: 100%;
    height: 580px;
    max-width: 670px;
    cursor: pointer;
    display: block;
}
.orderText{
    display: block;
    margin-bottom: 16px;
}

.pict_krug_Animation{
    animation: openPict 1s ease-in-out;
    
}
@keyframes openPict{
    from {opacity: 0.3;
    }
  to {opacity: 1;}
}

.delete{
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    cursor: pointer;
    transition-duration: 1s;
}
.dropup{
    display: inline;
    position: relative;
}
.dropup-text{
    display: none;
    position: absolute;
    color: snow;
    font-size: 14px;
    width: 260px;
    background-color: #9370DB;
}
.dropup:hover .dropup-text{
    display: inline;
}


.checkbox-button{
    cursor: pointer;
    margin-top: 26px;
    position: relative;
    width: 80px;
    height: 40px;
    -webkit-appearance: none;
    background-color: floralwhite;
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 5px rgb(0, 0, 0, .2);
    transition: 0.5s;
}
.checkbox-button:checked{
    background-color: #a984f3;
}
.checkbox-button::before{
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background-color: rgb(131, 97, 199);
    transition: 0.5s;
    transform: scale(0.8,0.8);
}
.checkbox-button:checked::before{
    left: 40px;
    background-color: #665eaf;
}

.del{
    animation: deletePict 1s ease-in-out;
}
@keyframes deletePict {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;  
    }
}

.wrap-text-and-deletePict p{
     color: snow;
     font-size: 10px;
}
.activPicture{
    clip-path: polygon(5% 10%, 100% 5%, 900% 75%, 75% 75% , 70% 100% , 60% 75% , 20% 80%);
}

.active_box{
    animation: activebox 1s ease;
}

@keyframes activebox{
    15% {
        -webkit-transform: translateX(9px);
        transform: translateX(9px);
      }
      30% {
        -webkit-transform: translateX(-9px);
        transform: translateX(-9px);
      }
      40% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
      }
      50% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px);
      }
      65% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
      }
      100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
    }

.active_data{
   animation: activedata 1s ease;
}

@keyframes activedata{
from{
transform: rotate(0deg);
}
to{
    transform: rotate(-360deg); 
}
}

.wrapper-range{
    display: inline;
    position: relative;
}
.value-upper-range{
    position: absolute;
    width: 60px;
    height: 20px;
    font-size: 13px;
    background-color: #665eaf;
    display: inline;
    left: 0;
    display: none;
}
#range{
    display: inline;
    width: 100%;
    max-width: 184px;
    cursor: pointer;
    transition-duration: 0.6s;
    -webkit-appearance: none;
    margin-bottom: 20px;
    /* vertical-align: middle; */
}

.mus-pict-volume{
    width: 28px;
    height: 28px;
    display: inline-block;
    transform: translate3d(0, 8px ,0);
}
  #range:focus {
    outline: none;
  }
  #range::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: #bb9ff3;
    border-radius: 1px;
    border: 1px solid #bb9ff3;
  }
  #range::-webkit-slider-thumb {
    border: 2px solid #665eaf;
    height: 22px;
    width: 22px;
    border-radius: 23px;
    background: #665eaf;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
  }
  #range:focus::-webkit-slider-runnable-track {
    background: #bb9ff3;
  }
  #range::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: #bb9ff3;
    /* margin-bottom: 5px; */
    border-radius: 1px;
    border: 1px solid #bb9ff3;
  }
  #range::-moz-range-thumb {
    border: 2px solid #665eaf;
    height: 22px;
    width: 22px;
    border-radius: 22px;
    background: #665eaf;
    cursor: pointer;
    margin-top: -7px;
  }
  #range:-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  #range::-ms-fill-lower {
    background: #665eaf;
    border: 1px solid #665eaf;
    border-radius: 2px;
  }
  #range:-ms-fill-upper {
    background: #665eaf;
    border: 1px solid #665eaf;
    border-radius: 2px;
  }
  #range::-ms-thumb {
    margin-top: 1px;
    border: 2px solid #665eaf;
    height: 22px;
    width: 22px;
    border-radius: 23px;
    background: #665eaf;
    cursor: pointer;
    margin-top: -7px;
  }
  #range:focus::-ms-fill-lower {
    background: #665eaf;
  }
  #range:focus::-ms-fill-upper {
    background: #665eaf;
  }
#range:hover{
    transform: translate3d(0px, -1px, 0px);  
}
.music_range_smile{
    display: inline;
}



.NameMusic{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}
.pict-span-mus{
    width: 100%;
    max-width: 540px;
    padding: 20px 60px;
    background-color: rgb(53, 53, 53);
    display: inline-block;
    border-radius: 20px;
}


    .buuut{
       display: inline;
       width: 170px;
       height: 50px;
       background-color:#9370DB; 
       text-decoration: none;
       border: 1px solid #000;
       font-family: 'Montserrat', sans-serif;
       color: snow;
       font-size: 17px;
       cursor: pointer;
       outline:0;outline-offset:0;
       transition-duration: 0.5s;
       font-weight: 400;
}
.buuut:hover{
background-color:  #232323;
color: #fff;
transform: translate3d(0px, -2px, 0px);     
border: 4px solid #9370DB;    
}


.soundpad{
    display: none;
}
.width-span{
    width: 330px;
    display: inline-block;
}

.activesound{
    display: block;
    animation: leftmus 1s ease-in-out;
}
@keyframes leftmus{
    from{
        opacity: 0.3;
    }
    to{
        opacity: 1;
     }
}


.wrapper-sound-func{
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper-s-f{
    width: 100%;
    max-width: 270px;
    border-radius: 20px;
    background-color: snow;
    display: flex;
    align-items: center;
    justify-content: center;

}
.rewind{
    margin-right: 35px;
    cursor: pointer;
}
.fast-forward{
    margin-left: 35px;
    cursor: pointer;
}
.play{
    cursor: pointer;
    position: relative;
}
.play, .fast-forward, .rewind{
    padding: 20px 0px 20px 0px;
    width: 35px;
    height: 70px;
}

.progress-image-bg{
    width: 28px;
    height: 28px;
    margin-top: 16px;
    margin-right: 8px;
}
.progress{
    margin-top: 20px;
    margin-bottom: 0;
    width: 154px;
    height: 24px; 
    cursor: pointer;
    display: block;
    transition-duration: 0.2s;
    border: none;
    appearance: none;
-moz-appearance: none;
-webkit-appearance: none;
    background-size: auto;
    background: #bb9ff3;
    border: 0.5px solid black;
}
progress::-webkit-progress-bar {
    background: #bb9ff3;
    }
progress::-moz-progress-bar {
    background: #bb9ff3;
    }
    progress::-webkit-progress-value {
        background: #6A56CF;
        border-right: 3px solid #232323;
        }    
.rewind:hover , .fast-forward:hover, .play:hover {
    transform: translate3d(0px, -1px, 0px);  
}

.progress-p{
    margin-top: 20px;
    margin-left: 10px;
    font-size: 22px;
    margin-bottom: 0;
}
.wrap-progress{
    display: flex;
    justify-content: center;
}
.wrap-progress > p {
    font-size: 28px;
    margin-top: 10px;
    margin-right: 6px;
    margin-bottom: 5px;
}
.wrap-progress-up{
    position: relative;
} 
.value-upper-progress{
    position: absolute;
    width: 60px;
    height: 20px;
    font-size: 13px;
    background-color: #665eaf;
    display: none;
    left: 2px;
    top: -10px;
    text-align: center;
}

.block-pict-mus{
    justify-content: center;
    width: 100%;
    height: 100%;
    display: none;
    margin-top: 10px;
    margin-bottom: 10px;
    animation: openPict 1s ease-in-out;
}
#buuut_dec {
  position: absolute;
  right: 2%;
  bottom: 7%;
  width: 159px;
  height: 35px;
  background-color: #fff;
  text-decoration: none;
  border: 1px solid #000;
  font-family: 'Montserrat', sans-serif;
  color: #7B68EE; 
  font-size: 14px;
  border-radius: 12px;
  cursor: pointer;
  outline:0;outline-offset:0;
  transition-duration: 0.6s;
  border: 3px solid #7B68EE;
  font-weight: 500;
}
#buuut_prev{
  position: absolute;
  left: 2%;
  bottom: 7%;
  width: 159px;
  height: 35px;
  background-color: #fff;
  text-decoration: none;
  border: 1px solid #000;
  font-family: 'Montserrat', sans-serif;
  color: #7B68EE; 
  font-size: 14px;
  border-radius: 12px;
  cursor: pointer;
  outline:0;outline-offset:0;
  transition-duration: 0.6s;
  border: 3px solid #9370DB;
  font-weight: 500;
}

.buuut:active{
  /* background-color:#ee754d; */
  outline: none;
}

#buuut_prev:hover ,#buuut_dec:hover {
    color:#fff;
    /* background-color: #ff6331; */
    background-color:#9370DB ;
    outline: none;
}

    .imgClass{
        padding-top: 5%;
    }


    .parallax{
        background-color: #232323;
        background: url(img/ййййцукен.jpg) ;
        background-attachment: fixed;
        height: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        
    }
    .parallax-content{
        z-index: 2;
    }
    .parallax-text{
        padding: 40px;
        color: snow;
        font-size: 56px;
        font-family: 'Press Start 2P';
        text-align: center;
    }
    .parallax-time-name{
        color: snow;
        font-size: 56px;
        font-family: 'Press Start 2P';
        text-align: center;
    }
    .parallax .mask{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color:rgb(0, 0, 0, .9);
        z-index: 1;
    }
    .parallax .mask1{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color:rgb(0, 0, 0, .8);
        z-index: 1;
    }

    .parallax1{
        background-color: #232323;
        background: url(img/ййййцукен.jpg) ;
        background-attachment: fixed;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .parallax1 .mask{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color:rgb(0, 0, 0, .8);
        z-index: 1;
    }

    .line-parallax{
        width: 20%;
        border-bottom: 5px solid #B22222;
        border-radius: 5px;
        transition-duration: 1s;
    }


 .calendar{
    height: 32.25vw;
    display: flex;
    justify-content: center;
    max-width: 100%;
}


.calendarpolosh{
    position: relative;
    width: 500px;
    max-width: 90%;
    height: 258px;
    background: #fff;
    text-align: center;
    border-radius: 18px;
    overflow: hidden;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
}

#monthName{
    font-family: 'Montserrat', sans-serif;
    margin-top: 0 ;
    padding: 10px 10px;
    background: #9370DB;
    color: #fff;
    font-size: 27px;
    font-weight: 700;
}

#dayName{
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px ;
    margin-bottom: 12px ;
    line-height: 1em;
    font-size: 27px;
    font-weight: 500;
    color: #999;
}
#dayNumber{
    font-family: 'Montserrat', sans-serif;
    margin-top: 0 ;
    line-height: 1em;
    margin-bottom: 10px ;
    font-size: 64px;
    font-weight: 700;
    color: #333;
}
/* box-shadow:10px 10px 2px rgba(255,255,255,.8),
    10px 10px 8px rgba(255,255,255,.8),
    10px 10px 12px rgb(108, 101, 153),
    10px 10px 16px rgb(108, 101, 153); */
#year{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px ;
    font-size: 23px;
    font-weight: 500;
    color: #999;

}


.up-main{
    position: fixed;
    bottom: 5%;
    right: 2%;
    opacity: 0.4;
    display: none;
    animation: animateup 1.5s ease-in-out;
    z-index: 9999999;
}
@keyframes animateup{
    from{
        bottom: 600px;
    }
    to{
        bottom: 5%; 
    }
}

.up-main:hover{
    cursor: pointer;
    opacity: 0.8;
}



@media ( max-width: 1199px){
    .popup_line{
        display: none;
    }
    .mac2{
        left: -300px;
    }
    .mac{
        left: 314px;
    }
    .container6{
        margin-left:0;
    }
    .footer{
        padding-top:70px;
    }
    .verh{
        min-height: 45vh;
        text-align: center;
        flex-wrap: wrap;
     }
     .otstup_cross{
         margin-top: 9em;
     }
     .dv1{
         text-align: center;
     }

     .popup_content{
         width: 50%;
     }
     .Andry{
         margin-top: 40px;
     }
     .sidebar{
         height: auto;
     }
     .kartinka{
         margin-bottom: 20px;
     }
}

@media ( max-width: 991px){
    .mac2{
        max-width: 160px;
        left: -340px;
    }
    .mac2 img{
        width: 300px;  
    }
    .mac1{
        max-width: 260px;
        left: -365px;
    }
    .mac{
        max-width: 533px;
        left: 100px;
        top:  185px;
    }
    .mac img{
        width: 760px;   
    }
     .mac1 img{
        width: 429px;
    }
    .mactext1 , .mactext2{
      font-size: 25px;
    }
    .mactext3, .mactext4, .mactext5 {
        font-size: 60px;
    }
    .container6{
        margin-left:0;
    }
    .dvoynoy {
        flex-direction: column;
    }
    .dv1{
        text-align: center;
    }
    .dv2{
        display: none;
    }
    .imgClass{
        display: none;
    }
    .buuut{
        display: none;
    }
    .otstup_cross{
        margin-top: 12em;
    }
    .soundpad {
        display: block;
    }
    .block-pict-mus{
        display: flex;
    }
    .footer_row{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer_column{
        display: inline-block;
        max-width: 100%;
    }
    .footer_title{
        text-align: center;
    }
    .footer-list_item{
        display: inline-block;
        text-align: center;
    }
    .foter_birthday{
        text-align: center;
    }
    .socials{
        justify-content: center;
    }
    .popup_content{
        width: 60%;
    }
}

@media( max-width: 850px){
    
    .top-info__row{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .info--wide{
        max-width: 418px;
        margin-top: 40px;
    }
 
    .info{ 
        max-width: 418px;
        margin-top: 40px;
    } 

    .sidebarul {
        font-weight: 600;
    }
    .sidebarli {
        font-weight: 400;
    }

} 

 @media ( max-width: 767px){
    .header__nav-row{
        display: none;
    }
     
    /* переписываем header__nav-row */
    .header__nav-row{
        background: #8E9EDE;
        position: absolute;
        top: 26%;
        left: 0;
        display: none;
        width: 100%;
        transition-duration: 3s;
        z-index: 4;
    }
    .header__nav-row a{
        padding: 4px 0;
        border-bottom: 1px solid snow;
        width: 100%;
        text-align: center;
        transition-duration: 1s;
    }
    .header__logo{
        padding: 4px 0;
        border-bottom: 1px solid snow;
        width: 100%;
        font-size: 24px;
        text-align: center;
        transition-duration: 1s;
    }
    .games-drop{
        display: block;
        width: 100%;
        text-align: center;
        position: static;
    }
    .game-drop-down {
        position: auto;
        text-align: center;
        position: static;
        max-width: 100%;
    }
    .drop-game-block{
        display: flex;
        justify-content: center;
        align-items: center;
     }
     .game-text{
        border-bottom: 3px solid black;
        padding: 3px 0;
        z-index: 1;
     }
    .header__nav-row a:hover{
       color: #000;
    }
    .header__logo{
        display: block;
    }

    .header__button{
        display: block;
    }
    .openTogl{
        display: block;
        animation: animatetogl;
        animation-duration: 2.5s;
    }

    @keyframes animatetogl{
        from{
            top: 600px;
            opacity: 0;
        }
        to{
            opacity: 1;
        }
       }

    .header__nav-row a {
        font-size: 20px;
    }
    .header__nav-link {
        display: block;
        margin: 0;
        text-decoration: none;
        font-size: 20px;
    }
    
    #popup_menu_id {
        top: 4%;
    }

    .mactext1 , .mactext2{
        font-size: 15px;
      }
      .mactext3, .mactext4, .mactext5 {
          font-size: 40px;
      }
      .mactext6 , .mactext7{
        font-size: 18px;
      }
      .mactext8, .mactext9, .mactext10 {
          font-size: 29px;
      }
      .mactext11 , .mactext12{
        font-size: 12px;
      }
      .mactext13, .mactext14, .mactext15 {
          font-size: 19px;
      }

    .mac2{
        max-width: 60px;
        left: -229px;
        top: 444px;
    }
    .mac1{
        max-width: 160px;
        left: -365px;
        top: 308px;
    }
    .mac{
        max-width: 320px;
        left: -17px;
        top: 326px;
    }
    .mac img{
        width: 580px;   
        bottom: 0;
    }
    .mac1 img{
        width: 329px;
    }
    .mac2 img{
        width: 250px;  
    }
    .pict_krug{
        max-width: 560px;
        margin-left: 0;
        max-height: 440px;
    }
    .popup_line{
        display: block;
    }
    .products__title{
       margin-bottom: 2em;
       font-size: 40px;
    }
    .otstup_cross{
        margin-top: 15em;
    }
    .Andry{
        font-size: 57px;
        padding-bottom: 10px;
        border-bottom: 1px solid #fff;
    }
    .popup_content{
        margin-top: 20px;
        width: 80%;
        max-width: 420px;
    }
    .verh{
       border-top: 1px solid #fff;
    }
    
} 


@media( max-width: 589px){
    .wrapper-side {
        position: absolute;
        left: 290px;
        top: 80px;
    }
    .pict_krug{
        max-width: 460px;
        margin-left: 0;
        max-height: 340px;
    }

    .pict-span-mus{
        padding: 20px 0;
    }
}

@media ( max-width: 569px){

    .mactextt{
        margin: 35px;
    }
    .mactexttt{
        margin: 40px;
    }
    .mactext1 , .mactext2{
        font-size: 15px;
      }
      .mactext3, .mactext4, .mactext5 {
          font-size: 20px;
      }
      .mactext6 , .mactext7{
        font-size: 19px;
        padding: 0;
      }
      .mactext8, .mactext9, .mactext10 {
          font-size: 27px;
          padding: 0;
      }
      .mactext11 , .mactext12{
        font-size: 14px;
        padding: 0;
      }
      .mactext13, .mactext14, .mactext15 {
          font-size: 22px;
          padding: 0;
      }

    .mac2{
        max-width: 60px;
        left: -229px;
        top: 444px;
    }
    .mac1{
        max-width: 160px;
          left: -275px;
         top: 323px;
    }
    .mac{
        max-width: 349px;
         left: 45px;
        top: 412px;
    }
    .mac img{
        width: 460px;   
        bottom: 0;
    }
    .mac1 img{
        width: 320px;
    }
    .mac2 img{
        width: 250px;  
    }
    .calendarpolosh{
        max-width: 78%;
    }
    #monthName {
        font-size: 24px;
    }
    #dayName {
        font-size: 24px;
    }
    #dayNumber {
        font-size: 54px;
    }
    #year {
        font-size: 18px;
    }
    #buuut_prev {
        width: 150px;
        font-size: 12px;
    }
    #buuut_dec {
        width: 150px;
        font-size: 12px;
    }
    .otstup_cross{
        margin-top: 18em;
    }
    .parallax-time-name {
        font-size: 55px;
    }
    .parallax-text {
        font-size: 55px;
    }
    .footer_text {
        font-size: 18px;
    }
    .coopyight-text1 {
        font-size: 16px;
    }
    .coopyight-text {
        font-size: 17px;
    }
    #popup_menu_id {
        top: 4%;
        right: 4%;
    }
    .popup_content{
        width: 70%;
    }
}
@media ( max-width: 569px){

      .mactext6 , .mactext7{
        font-size: 19px;
        padding: 0;
      }
      .mactext8, .mactext9, .mactext10 {
          font-size: 27px;
          padding: 0;
      }
      .mactext11 , .mactext12{
        font-size: 14px;
        padding: 0;
      }
      .mactext13, .mactext14, .mactext15 {
          font-size: 22px;
          padding: 0;
      }

    .mac2{
        max-width: 60px;
        left: -100px;
        top: 444px;
    }
    .mac1{
        max-width: 160px;
        left: -79px;
        top: 323px;
    }
    .mac{
       display: none;
    }
    .mac1 img{
        width: 320px;
    }
    .mac2 img{
        width: 250px;  
    }
    .po{
        margin-top: 50px;
        margin-bottom: 50px;
    }

}


@media ( max-width: 500px){
    #popup_menu_id {
        top: 4%;
        right: 4%;
    }
    .po{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .parallax-time-name {
        font-size: 48px;
    }
    .parallax-text {
        font-size: 48px;
    }
   
      #buuut_dec {
        width: 124px;
        font-size: 11px;
    }
    #buuut_prev {
        width: 124px;
        font-size: 11px;
    }
}
@media ( max-width: 470px){
   

    .parallax-time-name {
        font-size: 33px;
    }
    .parallax-text {
        font-size: 33px;
    }
    .top-info__row {
        justify-content: center;
    }
    .Andry {
        font-size: 50px;
    }
    
    .products__title {
        margin-bottom: 2em;
        font-size: 31px;
    }
    #buuut_stop, #buuut_play {
        width: 248px;
        font-size: 14px;
    }


}
@media ( max-width: 470px){
    .mac1 img {
        width: 290px;
    }
    .mac2 img {
        width: 223px;
    }
    .mac1 {
        top: 364px;
        left: -30px;
    }
    .mac2 {
        top: 479px;
    }
    #buuut_dec {
        width: 130px;
        font-size: 10px;
    }
    #buuut_prev {
        width: 130px;
        font-size: 10px;
    }
    .buuut {
        font-size: 15px;
    }
    .footer-list {
        font-size: 17px;
    }
    .footer_text {
        font-size: 17px;
    }
}

@media ( max-width: 450px){
.info--wide{
    max-width: 360px;
    margin-top: 40px;
    max-height: 360px;
}
.vtoroy-class-img{
    width: 100%;
    height: 100%;
}
.info{
    max-width: 360px;
    max-height: 360px;
    
}
.background {
    max-width: 360px;
}

}

@media ( max-width: 420px){
    
    .parallax-text {
        font-size: 37px;
    }
    .parallax-time-name {
        font-size: 37px;
    }
    #popup_menu_id {
        top: 4%;
        right: 4%;
    }
    .popup_content{
        margin-top: 20px;
        width: 70%;
        max-width: 320px;
    }
    .calendarpolosh {
        max-width: 78%;
    }
    #buuut_dec {
        bottom: 3%;
    }
    #buuut_prev {
        bottom: 3%;
    }

    .info--wide{
        max-width: 320px;
        margin-top: 40px;
        max-height: 320px;
    }
    .vtoroy-class-img{
        width: 100%;
        height: 100%;
    }
    .info{
        max-width: 320px;
        max-height: 320px;  
    }
    .pict_krug{
        max-width: 400px;
        margin-left: 0;
        max-height: 300px;
    }
}

@media ( max-width: 376px){

    .coopyight-text1 {
        font-size: 15px;
    }
    .background {
        max-width: 318px;
    }
}

@media ( max-width: 370px){
    .parallax-text {
        font-size: 34px;
    }
    .parallax-time-name {
        font-size: 34px;
    }
    .buuut {
        width: 140px;
    }
    #buuut_dec {
        width: 115px;
    }
    #buuut_prev {
        width: 115px;
    }
}

@media ( max-width: 350px){

    .mactext6 , .mactext7{
        font-size: 16px;
        padding: 0;
      }
      .mactext8, .mactext9, .mactext10 {
          font-size: 25px;
          padding: 0;
      }
      .mactext11 , .mactext12{
        font-size: 11px;
        padding: 0;
      }
      .mactext13, .mactext14, .mactext15 {
          font-size: 18px;
          padding: 0;
      }

    .mac1 img {
        width: 269px;
    }
    .mac2 img {
        width: 197px;
    }
    .mac1 {
        top: 394px;
        left: -30px;
    }
    .mac2 {
        top: 510px;
    }
    .parallax-text {
        font-size: 28px;
    }
    .parallax-time-name {
        font-size: 28px;
    }
    .coopyight-text1 {
        font-size: 13px;
    }
    .coopyight-text {
        font-size: 13px;
    }
    
    .info--wide{
        max-width: 300px;
        margin-top: 40px;
        max-height: 300px;
    }
    .vtoroy-class-img{
        width: 100%;
        height: 100%;
    }
    .info{
        max-width: 300px;
        max-height: 300px;  
    }
    .background {
        max-width: 295px;
    }

}


@media ( max-width: 321px){
    .parallax-time-name{
        font-size: 26px;
    }
    .parallax-text{
        font-size: 26px;
    }
    .sidebar {
        width: 260px;
    }
    .wrapper-side {
        left: 281px;
    }
    .info--wide{
        max-width: 280px;
        margin-top: 40px;
        max-height: 280px;
    }
    .vtoroy-class-img{
        width: 100%;
        height: 100%;
    }
    .info{
        max-width: 280px;
        max-height: 280px;  
    }
    .width-span {
    width: 320px;
    display: inline-block;
} 

}
