*{
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.wrap__overflow{
   overflow: hidden;
   max-width: 100%;
}
body{
    margin: 0;
    font-family: 'Tahoma', sans-serif;
    background-color: #232323;
}
.header{
    height: 800px;
    width: 100%;
    padding-top: 28px;
    background-color: #f3e1d5;
    background-image: url('img/доделаем1.png');
    background-size: cover;
    background-position: center;
}

::selection{
    background-color: #665eaf;
}

.header__nav-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.header__logo{
    font-family: 'Montserrat', sans-serif;
    color: #f3e1d5;
    font-weight: 600;
    text-decoration: none;
    font-size: 17px;
}

.header__nav-link{
    font-family: 'Montserrat', sans-serif;
    color: #f3e1d5;
    text-decoration: none;
    margin-right: 52px;
    font-size: 15px;
    font-weight: 300;
}

.header__nav-link:last-child{
    margin-right: 0;
}

.header__nav-link:hover{
    border-bottom: 1px solid #f3e1d5;
    cursor: pointer;
}
.top-info__row{
    display: flex;
    justify-content: space-around;
}
.header__button{
    color: #f3e1d5;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    cursor: progress;
    font-size: 15px;
    font-weight: 300;
}

.sidebar{
    position: absolute;
    width: 275px;
    height: 680px;
    background-color: #5e56a5;
    border-right: 4px solid #5e56a5;
    left: -280px;
    -moz-transition: all 1200ms;
    -webkit-transition: all 1200ms;
    transition: all 1200ms;
    z-index: 5;
}
.sidebar.active{
        left:0;
    }

.sidebarul{
    margin-right: 10%;
    font-family: 'Montserrat', sans-serif;
    color:black;
    font-size: 28px;
    font-weight: 740;
    list-style: none;
    padding-bottom: 10px;
    padding-right: 20px;
}

.sidebarli{
    margin-right: 10%;
    font-family: 'Montserrat', sans-serif;
  color:black;
    font-size: 21px;
    list-style: none;
    font-weight: 510;
}

.toggle-btn{
    position: absolute;
    left:296px;
    top: 4px;
    background-color: #E0E5EA;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
    z-index: 3;
}

.toggle-btn::after{
 content: '';
 position: absolute;
 box-shadow: 1px 1px 2px 2px #E0E5EA, 1px 2px 3px 3px #b5c7da , 2px 1px 6px 3px #b5c7da ;
 border-collapse: collapse;  
 left: -5px;
 right: -5px;
 top: -5px;
 bottom: -5px;
 animation: liff 10s ease-in-out alternate infinite;
 border-radius: 12px;
 z-index: -10;
}
.toggle-btn.tool::after{
    display: none;
}
.toggle-btn.tool::before{
    display: none;
}

.toggle-btn::before{
    content: '';
    position: absolute;
    box-shadow: 1px 1px 2px 2px #E0E5EA, 2px 1px 3px 3px #b5c7da, 1px 2px 4px 3px #b5c7da ;
    border-collapse: collapse;  
    left: -5px;
    right: -5px;
    top: -5px;
    bottom: -5px;
    animation: liff 8s ease-in-out alternate infinite;
    border-radius: 12px;
    z-index: -8;
   }

@keyframes liff {
    from{
       transform: rotate(0deg) scale(0.8) ;

    }
    to{
        transform: rotate(360deg) scale(0.9);
    }
}

.sidebar .toggle-btn span{
    display: block;
    width: 25px;
    height: 4px;
    background-color: #666;
    margin: 4px 0;
    transition-duration: 0.8s;
    z-index: 4;
}

.toggle-btn.active{
    background-color: #E0E5EA;
    margin: 0;
    width: 45px;
    height: 45px;
}

#span1.active{
    display: none;
}
#span2.active{
    width: 25px;
    transform: rotate(45deg) translateX(4px) translateY(5px); 
}
#span3.active{
    width: 25px;
    transform: rotate(-45deg) translateX(1px) translateY(-1px);
}

.kartinka{
    display: flex;
    font-size: 50px;
   align-items: center;
   transition-duration: 1s;
   animation: leftRight 5.5s ease-in-out alternate infinite;  
   /* длительность , функция, направление(сначало в прямом потом в обратном направлении работает), кол  */
   cursor: pointer;
}
@keyframes leftRight{
    from {
		margin-left: 35px;
	}
	to {
		margin-left: 180px;
	}
}


.texttt1{
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.mac {
    position: relative;
    top: 53px;
    left: 238px;
    width: 841px;
    height: 654px;
    max-width: 100%;
    height: auto;
}


.mactext{
    display: flex;
    flex-direction: column;
position: absolute;
margin: 80px;
margin-top: 82px;
left:0;
top: 0;

}

.mactext1, .mactext2{
    font-family: 'Montserrat', sans-serif;
    font-size: 46px;
    color: snow;
}

.mactext3, .mactext4, .mactext5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 67px;
    color: snow;
    font-weight: 800;
    transition-duration: 2.5s;
}

.mactext5:hover{
    font-family: 'Montserrat', sans-serif;
    font-size: 67px;
    color: snow;
    font-weight: 800;
    text-shadow:
    0 0 2px rgba(255,255,255,.8),
    0 0 8px rgba(255,255,255,.8),
    0 0 12px rgb(108, 101, 153),
    0 0 20px rgb(108, 101, 153),
    0 0 40px rgb(108, 101, 153),
    0 0 80px rgb(108, 101, 153);
}

.mactext55{
    font-family: 'Montserrat', sans-serif;
    font-size: 67px;
    color: snow;
    font-weight: 800;
    text-shadow:
    0 0 2px rgba(255,255,255,.8),
    0 0 8px rgba(255,255,255,.8),
    0 0 12px rgb(108, 101, 153),
    0 0 20px rgb(108, 101, 153),
    0 0 40px rgb(108, 101, 153),
    0 0 80px rgb(108, 101, 153);
}

.mac1{
    position: relative;
    top: 147px;
    left: -50px;
    max-width: 100%;
    height: auto;
}
.mactextt{
display: flex;
flex-direction: column;
position: absolute;
margin: 60px;
left:0;
top: 0;
}
.mactext6,.mactext7 {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    color: snow;
}
.mactext8, .mactext9, .mactext10{
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    color: snow;
    font-weight: 800;
    transition-duration: 1s;
}

.mactext10:hover{
    text-shadow:
    0 0 2px rgba(255,255,255,.8),
    0 0 8px rgba(255,255,255,.8),
    0 0 12px rgb(108, 101, 153),
    0 0 20px rgb(108, 101, 153);
}

.mac2{
    position: relative;
    top: 356px;
    left: -160px;
    max-width: 100%;
    height: auto;
}

.mactexttt{
    display: flex;
flex-direction: column;
position: absolute;
margin: 55px;
left:0;
top: 0;
}
.mactext11, .mactext12 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: snow;
}
.mactext13, .mactext14, .mactext15 {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    color: snow;
    font-weight: 800;
    transition-duration: 1s;
}

.mactext15:hover{
    text-shadow:
    0 0 2px rgba(255,255,255,.8),
    0 0 8px rgba(255,255,255,.8),
    0 0 12px rgb(108, 101, 153),
    0 0 20px rgb(108, 101, 153);
}
.otstup{
    margin-top: 15px;
}

.otstup1{
    margin-top: 20px;
}
.otstup2{
    min-height: 20vh;
}
.otstup6{
    padding: 30px;
}
.otstup7{
    padding: 20px;
}

.popup_line{
    display: none;
    z-index: 3000;
}
.otstup11{
    margin-bottom: 60px;
}

#popup_menu_id{
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5%;
    right: 2%;
}
#popup_menu_id img:hover , #popup_menu_id p:hover{
    cursor: pointer;
}
#popup_menu_id p{
    display: inline-block;
    font-size: calc(0.5vw + 1em);
}

#mypopup_menu{
    padding: 2.5%;
    display: none;
    position: fixed;
    z-index: 6;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color:rgb(0, 0, 0, 0.8);
}
#popup_center_menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup_content_menu{
    position: relative;
    margin: 0;
    padding: 0;
    width: 50%;
    animation-duration: 1.5s;
}
#closeMenu{
    margin-left: auto;
    position: absolute;
    top: 7%;
    right: -15%;
    transition-duration: 0.5s;
}
#closeMenu:hover{
    transform: scale(1.2, 1.2);
}
.menu_ul{
   text-align: center;
}
.menu_ul li{
    font-size: calc(0.5vw + 1.3em);
    list-style: none;
    border: 1px solid blueviolet ;
}
.menu_ul a{
    color: rgb(108, 101, 153);
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-shadow:
    0 0 2px rgba(255,255,255,.8),
    0 0 8px rgba(255,255,255,.8),
    0 0 12px rgb(108, 101, 153);
    font-weight: 400;
}



.comtainer{
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden; 
}
.container2{
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
}
.top-info{
    padding-top: 44px;
    padding-bottom: 60px;
}
.info--wide{
    position: relative;
    width:902px;
    height: 402px;
    max-width: 100%;
}
.perviy-class-video{
    position: absolute;
    display: block;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.perviy-class-video:focus{
    outline: none;
}
.info{
    position: relative;
    width: 418px;
    height: 402px;
    max-width: 100%;
    
}
.info-content{
    display: block;
    opacity: 0;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 76, 255, 0.75);
    font-family: 'Teko' , sans-serif;
    transition: opacity 0.2s ease-in;
    transition-duration: 0.8s;
}
.info-content:hover{
    opacity: 0.5;
    cursor: pointer;
}

.info-content-title{
    position:absolute;
    width: 270px;
    top: 150px;
    left:80px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color:snow;
    z-index: 10;
    letter-spacing: 2.73px;
}

.products{
    padding-top: 60px;
    padding-bottom: 65px;
}

.products__title{
    color:snow;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 800;
    line-height: 1.3;
    text-transform: uppercase;
    margin-bottom: 55px;
    text-align: center;
}
.products__title.act{
    margin-bottom: 15px;
}

.togl-text{
    font-size: 21px;
    color:snow;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    transition-duration: 1s;
}

.line{
    box-shadow: 
            2px 2px 0 -2px rgb(179, 114, 240),
            0 0 0 2px rgb(185, 164, 204);

    width: 100%;
    display: block;
    animation: opacity-text 1.5s ease-in-out;
    margin-top: 100px;
    margin-bottom: 40px;
}


.togl-container{
    max-width: 280px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 60px;
    transition-duration: 1s;
}


.togl-actions{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-direction: column;
    box-shadow: 8px 8px 8px rgba(255,255,255,.8),
    10px 10px 4px #592385,
    10px 10px 8px #592385,
    10px 10px 16px #712da8;
    border-radius: 70px;
    padding: 15px;
    transition-duration: 1.5s;
    background-color: rgb(179, 114, 240);
}


.togl-actions-two{
    transition-duration: 1.5s;
    box-shadow:10px 10px 2px rgba(255,255,255,.8),
    10px 10px 8px rgba(255,255,255,.8),
    10px 10px 12px rgb(108, 101, 153),
    10px 10px 16px rgb(108, 101, 153);
    border-radius: 70px;
    transition-duration: 1.5s;
}
.togl-product-action{
    width: 20px;
    height: 20px;
    border-right: 4px solid black;
    border-top: 4px solid black;
    transform:rotate(135deg);
    margin-bottom: 15px;
    margin-top: 10px;
    transition-duration: 1s;
}

.togl-product-action-two{
    transform:rotate(-45deg);
    margin-top: 20px;
    margin-bottom: 10px;
    transition-duration: 1s;
}
.products__title1{
    color:snow;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 45px;
    text-align: center;
    cursor: pointer;
    transition-duration: 1s;
}

.togl{
    width: 45px;
    height: 45px;
    border-right: 4px solid black;
    border-top: 4px solid black;
    transform:rotate(135deg);
    margin-bottom: 30px;
    cursor: pointer;
    transition-duration: 1s;
}
.toglactive{
    transform:rotate(-45deg);
    margin-bottom: 0;
    transition-duration: 1s;
}

.togl-product{
    box-shadow: -1024px 20px 0 -17px #eee,
             1024px -20px 0 -17px #eee,
            20px 20px 0 -20px #592385,
            0 0 0 2px #592385;
    padding: 10px;
}
.ligth{
    box-shadow: -1024px 20px 0 -17px #eee,
    1024px -20px 0 -17px #eee,
   20px 20px 0 -20px #592385,
   0 0 0 2px #592385;
      margin-top: 50px;
      width: 100%;
      animation: opacity-text 1.5s ease-in-out;
}

.container3{
    display: none;
}

.products__row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 70px;
    animation: opacity-text 1s ease-in-out;
}
.products-cart{
    position: relative;
    margin-bottom: 60px;
    overflow: hidden;    /* не выходит за картинку */
}
.products-cart__img{
    height: 380px;
    width: 410px;
}

.products-cart__title {
    font-family: 'Montserrat', sans-serif;
    color: snow;
    font-weight: 700;
    font-size: 25px;
    position: absolute;
    left: 0px;
    top: -25px;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0,.5);
    max-width: 401px;
    max-height: 445px;
    padding-top: 220px;
    text-align: center;
    opacity: 0;
    transform: scale(0) rotate(90deg);
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    transition-duration: 0.8s;
}

/* при наведении на  products-cart меняется products-cart__title(его прежние свойства) */
.products-cart:hover .products-cart__title{
    opacity: 1;
    transform: scale(1) rotate(0deg);
}



.po{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26.25vw;
}

.mainCalculator{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonCalc{
    font-family: 'Montserrat', sans-serif;
    width: 50px;
    height: 50px;
    font-size: 16px;
    background: #0c2835;
    border: 1px solid rgba(0,0,0,.1);
    transition-duration: 0.8s;
    color: #fff;
    outline: none;
}
.buttonCalc:hover {
    background: #183b4b;
    box-shadow: 0 0 10px #183b4b;
    cursor: pointer;
}

.textweu{
    font-family: 'Montserrat', sans-serif;
    width: 210px;
    height: 120px;
    margin-bottom: 3px;
    font-size: 20px;
    text-align: right;
    border: none;
   outline: none;
   transition-duration: 1s;
}
.textweu:hover{
    box-shadow: 0 0 10px #d5e8f1,
    0 0 12px #d5e8f1;
    border: 1px solid rgba(0,0,0,.1);
}

.buttonCalcEval{
    font-family: 'Montserrat', sans-serif;
    width: 47px;
    height: 102px;
    outline: none;
    font-size: 16px;
    transition-duration: 0.8s;
    background: #03b1ff;
    border: 1px solid rgba(0,0,0,.1);
    color:#fff;
    margin-left: 2px;
}

.buttonCalcEval:hover {
    background:  #6ecaf5;
    box-shadow: 0 0 10px #7ecff5;
    cursor: pointer;
} 
.buttonCalcC{
    font-family: 'Montserrat', sans-serif;
    height: 46px;
    width: 102px;
    outline: none;
    font-size: 16px;
    background: #ff3077;
    transition-duration: 0.8s;
    border: 1px solid rgba(0,0,0,.1);
    color: #fff;
    margin-left: 1px;
}
.buttonCalcC:hover {
    background:  #f681aa;
    box-shadow: 0 0 10px #f681aa;
    cursor: pointer;
}


.footer{
    padding-top: 10px;
}
.container5{
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
}

.footer_row{
    display: flex;
    justify-content: space-between;
}
.footer_column{

    max-width: 250px;
    color: snow;
    margin-left: 20px;
    margin-right: 20px;
}

.footer_title{
    font-family: 'Montserrat', sans-serif;
     font-size: 22px;
    font-weight: 600;
    line-height: 1px;
}

.footer_text{
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    line-height: 1.5;
    font-weight: 350;
}

.footer-list{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 350;
}
.footer-list_item{
    margin-bottom: 15px;
}

.socials{
display: flex;
flex-direction: row;
}


.social-item{
    width: 50px;
    height: 50px;
    margin: 1px;
}

.coopyright{
    max-width: 1310px;
    border-top: 1px solid #b2b2b2;
    padding-top: 40px;
    padding-bottom: 50px;
}
.container7{
    display: flex;
    justify-content: space-between;
    
}
.coopyight-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: snow;
    margin-left: 20px;
    

}
.coopyight-text1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: snow;
    text-decoration: none;
    margin-right: 20px;
}


.popup{
    padding: 2.5%;
    display: none;
    position: fixed;
    z-index: 6;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color:rgb(0, 0, 0, 0.8);
}
.close{
    margin-left: auto;
    position: absolute;
    top: 3%;
    right: 4%;
    transition-duration: 0.5s;
    z-index: 2;
}
.close:hover,
.close:focus
{
transform: scale(1.2,1.2);
text-decoration: none;
cursor: pointer;
}

.popup_center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup_content{
    text-align: center;
    position: relative;
    margin: 0;
    padding: 0;
    width: 38%;
    animation-name: animationtop;
    animation-duration: 1.5s;
}

.pict_popap{
    max-width: 100%;
    vertical-align: top;
    border-radius: 24px;
}


@keyframes animationtop{
 from{
     top: -300px;
     opacity: 0;
 }
 to{
     top: 0;
     opacity: 1;
 }
}


.verh{
    margin: 0;
    padding: 0;
   font-family: 'Poppins' , sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: #232323;
   overflow: hidden;
   display: none;
   animation: opacity-text 1.5s ease-in-out;
}
@keyframes opacity-text{
     from{
      opacity: 0;
     }
     to{
        opacity: 1;
     }
}
.Andry{
    position: relative;
    display: block;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    font-size: 80px;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
}
.Andry:hover{
    color: #fff;
    -webkit-text-stroke: 1px #232323;
    cursor: pointer;
}
/* attr(дает поулчить свойство из html) */
.Andry:before,                                        
.Andry:after{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s;

}
.Andry:hover:before{
color: #B22222;
z-index: 1;
-webkit-text-stroke: 1px#232323;
transform: translate(10px,-10px);
}
.Andry:hover:after{
    color: #00BFFF;
    z-index: 2;
    -webkit-text-stroke: 1px #232323;
    transform: translate(20px,-20px);
}


.popup1{
    padding: 2.5%;
    display: none;
    position: fixed;
    z-index: 7;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color:rgb(0, 0, 0, 0.8);
}

.dvoynoy{
    background-color: #232323;
    display: flex;
    justify-content: center;
}


.dv1{
    color: snow;
    font-size: 52px;
    font-family: 'Montserrat', sans-serif;
    flex-flow: 1;
}
.dv2{
    flex-flow: 1;
}
.tubl{
    display: block;
}

.pict_krug{
    margin-left: 2em;
    clip-path: polygon(5% 5%, 100% 10%, 900% 75%, 75% 75% , 75% 100% , 60% 75% , 20% 80%);
    transition: 1s ease-in-out;
    max-width: 100%;
    cursor: pointer;
}

.pict_krug_Animation{
    animation: openPict 1s ease-in-out;
    
}
@keyframes openPict{
    from {opacity: 0.5;
    }
  to {opacity: 1;}
}


.activPicture{
    clip-path: polygon(5% 10%, 100% 5%, 900% 75%, 75% 75% , 70% 100% , 60% 75% , 20% 80%);
}

.active_box{
    animation: activebox 1s ease;
}

@keyframes activebox{
    15% {
        -webkit-transform: translateX(9px);
        transform: translateX(9px);
      }
      30% {
        -webkit-transform: translateX(-9px);
        transform: translateX(-9px);
      }
      40% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
      }
      50% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px);
      }
      65% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
      }
      100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
    }

.active_data{
   animation: activedata 1s ease;
}

@keyframes activedata{
from{
transform: rotate(0deg);
}
to{
    transform: rotate(-360deg); 
}
}

#range{
    width: 200px;
}
.music_range_smile{
    margin: 10px;
    font-size: 28px;
}

.NameMusic{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

    .buuut{
       width: 170px;
       height: 50px;
       background-color:#ff6331; 
       text-decoration: none;
       border: 1px solid #000;
       font-family: 'Montserrat', sans-serif;
       color: #fff;
       font-size: 17px;
       cursor: pointer;
       outline:0;outline-offset:0;
       transition-duration: 0.5s;
       font-weight: 400;
}
.buuut:hover{
background-color:  #232323;
color: #fff;
transform: translate3d(0px, -2px, 0px);     
border: 4px solid #ff6331;    
}



#buuut_dec {
  position: absolute;
  right: 2%;
  bottom: 7%;
  width: 159px;
  height: 35px;
  background-color: #fff;
  text-decoration: none;
  border: 1px solid #000;
  font-family: 'Montserrat', sans-serif;
  color: #ff6331; 
  font-size: 14px;
  border-radius: 12px;
  cursor: pointer;
  outline:0;outline-offset:0;
  transition-duration: 0.6s;
  border: 3px solid #ff6331;
  font-weight: 500;
}
#buuut_prev{
  position: absolute;
  left: 2%;
  bottom: 7%;
  width: 159px;
  height: 35px;
  background-color: #fff;
  text-decoration: none;
  border: 1px solid #000;
  font-family: 'Montserrat', sans-serif;
  color: #ff6331; 
  font-size: 14px;
  border-radius: 12px;
  cursor: pointer;
  outline:0;outline-offset:0;
  transition-duration: 0.6s;
  border: 3px solid #ff6331;
  font-weight: 500;
}

.buuut:active{
  background-color:#ee754d;
  outline: none;
}

#buuut_prev:hover ,#buuut_dec:hover {
    color:#fff;
    background-color: #ff6331;
    outline: none;
}

    .imgClass{
        padding-top: 5%;
    }


    .parallax{
        background-color: #232323;
        background: url(img/ййййцукен.jpg) ;
        background-attachment: fixed;
        height: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        
    }
    .parallax-content{
        z-index: 2;
    }
    .parallax-text{
        padding: 40px;
        color: snow;
        font-size: 56px;
        font-family: 'Press Start 2P';
        text-align: center;
    }
    .parallax-time-name{
        color: snow;
        font-size: 56px;
        font-family: 'Press Start 2P';
        text-align: center;
    }
    .parallax .mask{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color:rgb(0, 0, 0, .7);
        z-index: 1;
    }
    .parallax .mask1{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color:rgb(0, 0, 0, .8);
        z-index: 1;
    }

    .parallax1{
        background-color: #232323;
        background: url(img/ййййцукен.jpg) ;
        background-attachment: fixed;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .parallax1 .mask{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color:rgb(0, 0, 0, .5);
        z-index: 1;
    }

    .line-parallax{
        width: 20%;
        border-bottom: 5px solid #B22222;
        border-radius: 5px;
        transition-duration: 1s;
    }

    .containerBox{
        display: flex;
        justify-content: center;
    }
    #box_present{
        position: relative;
    }
    .doshick{
        position: absolute;
        padding-right: 20px;
        display: none;
        animation: doshic 1s ease-in-out ;
        cursor: pointer;
        touch-action: none;
    }
   @keyframes doshic{
       from{
           opacity: 0;
           margin-top: 25px;
       }
       to{
           opacity: 1;
           margin-top: 0;
       }
   }

  .soundtoggle_wrap{
     text-align: center;
     margin-bottom: 4%;
     cursor: pointer;
  }
   .textBox{
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    color: snow;
    text-align: center;
    font-weight: 500;
    margin-bottom: 1%;
   }
   .boxButton{
    margin-top: 40px;
    margin-bottom: 80px;
    width: 300px;
    height: 50px;
    background-color: #ff6331; 
    text-decoration: none;
    outline: none;
    border: 2px solid #000;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition-duration: 0.6s;
   }

   .boxButton:hover{
    background-color:  #232323;
    color: #fff;
    transform: translate3d(0px, -2px, 0px);     
    border: 5px solid #ff6331;    
    }



 .calendar{
    height: 32.25vw;
    display: flex;
    justify-content: center;
    max-width: 100%;
}


.calendarpolosh{
    position: relative;
    width: 500px;
    max-width: 90%;
    height: 258px;
    background: #fff;
    text-align: center;
    border-radius: 18px;
    overflow: hidden;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
}

#monthName{
    font-family: 'Montserrat', sans-serif;
    margin-top: 0 ;
    padding: 10px 10px;
    background: #ff6331;
    color: #fff;
    font-size: 27px;
    font-weight: 700;
}

#dayName{
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px ;
    margin-bottom: 12px ;
    line-height: 1em;
    font-size: 27px;
    font-weight: 500;
    color: #999;
}
#dayNumber{
    font-family: 'Montserrat', sans-serif;
    margin-top: 0 ;
    line-height: 1em;
    margin-bottom: 10px ;
    font-size: 64px;
    font-weight: 700;
    color: #333;
}
/* box-shadow:10px 10px 2px rgba(255,255,255,.8),
    10px 10px 8px rgba(255,255,255,.8),
    10px 10px 12px rgb(108, 101, 153),
    10px 10px 16px rgb(108, 101, 153); */
#year{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px ;
    font-size: 23px;
    font-weight: 500;
    color: #999;

}


.up-main{
    position: fixed;
    bottom: 5%;
    right: 2%;
    opacity: 0.4;
    display: none;
    animation: animateup 1.5s ease-in-out;
    z-index: 9999999;
}
@keyframes animateup{
    from{
        bottom: 600px;
    }
    to{
        bottom: 5%; 
    }
}

.up-main:hover{
    cursor: pointer;
    opacity: 0.8;
}



@media ( max-width: 1199px){
    .popup_line{
        display: none;
    }
    .mac2{
        left: -300px;
    }
    .mac{
        left: 314px;
    }
    .container6{
        margin-left:0;
    }
    .footer{
        padding-top:70px;
    }
    .verh{
        min-height: 45vh;
        text-align: center;
        flex-wrap: wrap;
     }
     .otstup_cross{
         margin-top: 9em;
     }
     .dv1{
         text-align: center;
     }

     .popup_content{
         width: 50%;
     }
     .Andry{
         margin-top: 40px;
     }
     .sidebar{
         height: auto;
     }
     .kartinka{
         margin-bottom: 20px;
     }
}

@media ( max-width: 991px){
    .mac2{
        max-width: 160px;
        left: -340px;
    }
    .mac2 img{
        width: 300px;  
    }
    .mac1{
        max-width: 260px;
        left: -365px;
    }
    .mac{
        max-width: 533px;
        left: 100px;
        top:  185px;
    }
    .mac img{
        width: 760px;   
    }
     .mac1 img{
        width: 429px;
    }
    .mactext1 , .mactext2{
      font-size: 25px;
    }
    .mactext3, .mactext4, .mactext5 {
        font-size: 60px;
    }
    .container6{
        margin-left:0;
    }
    .dvoynoy {
        flex-direction: column;
    }
    .dv1{
        text-align: center;
    }
    .dv2{
        display: flex;
        justify-content: center;
    }
    .imgClass{
        display: none;
    }
    .otstup_cross{
        margin-top: 12em;
    }
    .pict_krug{
        margin-right: 2em;
        margin-top: 60px;
    }
    .footer_row{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer_column{
        display: inline-block;
        max-width: 100%;
    }
    .footer_title{
        text-align: center;
    }
    .footer-list_item{
        display: inline-block;
        text-align: center;
    }
    .foter_birthday{
        text-align: center;
    }
    .socials{
        justify-content: center;
    }
    .popup_content{
        width: 60%;
    }
    
}

@media( max-width: 850px){
    
    .top-info__row{
        flex-direction: column;
        align-items: center;
    }
     .perviy-class-video{
         box-shadow: 0 0 2px rgba(255,255,255,.8),
        0 0 12px rgb(108, 101, 153); 
    } 
    .info--wide{
        max-width: 440px;
        margin-top: 40px;
    }
    .vtoroy-class-img{
        box-shadow: 0 0 2px rgba(255,255,255,.8),
        0 0 8px rgba(255,255,255,.8),
        0 0 12px rgb(108, 101, 153),
        0 0 30px rgb(108, 101, 153),
        0 0 60px rgb(108, 101, 153);
        max-width: 440px;

    }
    .info{
        max-width: 440px;
        margin-top: 40px;
    } 
} 

 @media ( max-width: 767px){
    .header__nav-row{
        display: none;
    }
     
    /* переписываем header__nav-row */
    .header__nav-row{
        background: cornflowerblue;
        position: absolute;
        top: 20%;
        left: 0;
        display: none;
        width: 100%;
        transition-duration: 3s;
    }

    .openTogl{
        display: block;
        animation: animatetogl;
        animation-duration: 2.5s;
    }

    @keyframes animatetogl{
        from{
            top: 600px;
            opacity: 0;
        }
        to{
            opacity: 1;
        }
       }

    .header__nav-row a {
        font-size: 20px;
    }
    .header__nav-link {
        display: block;
        margin: 0;
        text-decoration: none;
        font-size: 20px;
    }
    
    #popup_menu_id {
        top: 4%;
    }

    .mactext1 , .mactext2{
        font-size: 15px;
      }
      .mactext3, .mactext4, .mactext5 {
          font-size: 40px;
      }
      .mactext6 , .mactext7{
        font-size: 18px;
      }
      .mactext8, .mactext9, .mactext10 {
          font-size: 29px;
      }
      .mactext11 , .mactext12{
        font-size: 12px;
      }
      .mactext13, .mactext14, .mactext15 {
          font-size: 19px;
      }

    .mac2{
        max-width: 60px;
        left: -229px;
        top: 444px;
    }
    .mac1{
        max-width: 160px;
        left: -365px;
        top: 308px;
    }
    .mac{
        max-width: 320px;
        left: -17px;
        top: 326px;
    }
    .mac img{
        width: 580px;   
        bottom: 0;
    }
    .mac1 img{
        width: 329px;
    }
    .mac2 img{
        width: 250px;  
    }
    .pict_krug{
        max-width: 380px;
        margin-left: 0;
        height: auto;
    }
    .popup_line{
        display: block;
    }
    .products__title{
       margin-bottom: 2em;
       font-size: 40px;
    }
    .otstup_cross{
        margin-top: 15em;
    }
    .Andry{
        font-size: 57px;
    }
    .popup_content{
        width: 80%;
    }
    
} 


@media( max-width: 589px){
    .toggle-btn {
        top: auto;
        bottom: 1%;
    }
    
}

@media ( max-width: 569px){

    .mactextt{
        margin: 35px;
    }
    .mactexttt{
        margin: 40px;
    }
    .mactext1 , .mactext2{
        font-size: 15px;
      }
      .mactext3, .mactext4, .mactext5 {
          font-size: 20px;
      }
      .mactext6 , .mactext7{
        font-size: 19px;
        padding: 0;
      }
      .mactext8, .mactext9, .mactext10 {
          font-size: 27px;
          padding: 0;
      }
      .mactext11 , .mactext12{
        font-size: 14px;
        padding: 0;
      }
      .mactext13, .mactext14, .mactext15 {
          font-size: 22px;
          padding: 0;
      }

    .mac2{
        max-width: 60px;
        left: -229px;
        top: 444px;
    }
    .mac1{
        max-width: 160px;
          left: -275px;
         top: 323px;
    }
    .mac{
        max-width: 349px;
         left: 45px;
        top: 412px;
    }
    .mac img{
        width: 460px;   
        bottom: 0;
    }
    .mac1 img{
        width: 320px;
    }
    .mac2 img{
        width: 250px;  
    }
    .calendarpolosh{
        max-width: 78%;
    }
    #monthName {
        font-size: 24px;
    }
    #dayName {
        font-size: 24px;
    }
    #dayNumber {
        font-size: 54px;
    }
    #year {
        font-size: 18px;
    }
    #buuut_prev {
        width: 135px;
        font-size: 12px;
    }
    #buuut_dec {
        width: 135px;
        font-size: 12px;
    }
    .otstup_cross{
        margin-top: 18em;
    }
    .parallax-time-name {
        font-size: 55px;
    }
    .parallax-text {
        font-size: 55px;
    }
    .footer_text {
        font-size: 18px;
    }
    .coopyight-text1 {
        font-size: 16px;
    }
    .coopyight-text {
        font-size: 17px;
    }
    #popup_menu_id {
        top: 4%;
        right: 4%;
    }
    .popup_content{
        width: 70%;
    }
}
@media ( max-width: 569px){

      .mactext6 , .mactext7{
        font-size: 19px;
        padding: 0;
      }
      .mactext8, .mactext9, .mactext10 {
          font-size: 27px;
          padding: 0;
      }
      .mactext11 , .mactext12{
        font-size: 14px;
        padding: 0;
      }
      .mactext13, .mactext14, .mactext15 {
          font-size: 22px;
          padding: 0;
      }

    .mac2{
        max-width: 60px;
        left: -100px;
        top: 444px;
    }
    .mac1{
        max-width: 160px;
        left: -79px;
        top: 323px;
    }
    .mac{
       display: none;
    }
    .mac1 img{
        width: 320px;
    }
    .mac2 img{
        width: 250px;  
    }
    .po{
        margin-top: 50px;
        margin-bottom: 50px;
    }

}
@media ( max-width: 500px){
    #popup_menu_id {
        top: 4%;
        right: 4%;
    }
    .po{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .parallax-time-name {
        font-size: 48px;
    }
    .parallax-text {
        font-size: 48px;
    }
    .vtoroy-class-img{
        max-width: 90%;
        max-height: 70%;
        margin-top: 20px;
        overflow: hidden;
    }
    .info {
        max-width: 80%;
        margin-top: 0;
        display: static;
        height: auto;
        right: -4%;
    } 

    .info--wide{
        max-width: 80%;
        display: static;
        
    }
    .info-content{
        max-width: 90%;
        max-height: 93%;
        top: 20px;
        overflow: hidden;

    }
    .info-content-title{
        font-size: 15px;
        top:0;
        left:0;
        padding: 80px;
        width: 60%; 
        height: 60%;
        max-width: 100px;
    }
   
      #buuut_dec {
        width: 124px;
        font-size: 11px;
    }
    #buuut_prev {
        width: 124px;
        font-size: 11px;
    }

}
@media ( max-width: 470px){
   

    .parallax-time-name {
        font-size: 33px;
    }
    .parallax-text {
        font-size: 33px;
    }
    .top-info__row {
        justify-content: center;
    }
    .Andry {
        font-size: 50px;
    }
    /* #monthName {
        font-size: 22px;
    }
    #dayName {
        font-size: 21px;
    }
    #dayNumber {
        font-size: 49px;
    }
    #year {
        font-size: 16px;
    } */
    .products__title {
        margin-bottom: 2em;
        font-size: 31px;
    }
    #buuut_stop, #buuut_play {
        width: 248px;
        font-size: 14px;
    }


}
@media ( max-width: 470px){
    .mac1 img {
        width: 290px;
    }
    .mac2 img {
        width: 223px;
    }
    .mac1 {
        top: 364px;
        left: -30px;
    }
    .mac2 {
        top: 479px;
    }
    #buuut_dec {
        width: 130px;
        font-size: 10px;
    }
    #buuut_prev {
        width: 130px;
        font-size: 10px;
    }
    .buuut {
        font-size: 15px;
    }
    .footer-list {
        font-size: 17px;
    }
    .footer_text {
        font-size: 17px;
    }
}

@media ( max-width: 420px){
    
    .parallax-text {
        font-size: 37px;
    }
    .parallax-time-name {
        font-size: 37px;
    }
    #popup_menu_id {
        top: 4%;
        right: 4%;
    }
    .popup_content{
        width: 90%;
    }
    .calendarpolosh {
        max-width: 78%;
    }
    #buuut_dec {
        bottom: 3%;
    }
    #buuut_prev {
        bottom: 3%;
    }
}

@media ( max-width: 376px){

    .pict_krug {
        max-width: 289px;
        margin-left: 0;
    }
    .coopyight-text1 {
        font-size: 15px;
    }


}

@media ( max-width: 370px){
    .parallax-text {
        font-size: 34px;
    }
    .parallax-time-name {
        font-size: 34px;
    }

    .pict_krug {
        max-width: 289px;
        margin-left: 0;
    }
}

@media ( max-width: 350px){

    .mactext6 , .mactext7{
        font-size: 16px;
        padding: 0;
      }
      .mactext8, .mactext9, .mactext10 {
          font-size: 25px;
          padding: 0;
      }
      .mactext11 , .mactext12{
        font-size: 11px;
        padding: 0;
      }
      .mactext13, .mactext14, .mactext15 {
          font-size: 18px;
          padding: 0;
      }

    .mac1 img {
        width: 269px;
    }
    .mac2 img {
        width: 197px;
    }
    .mac1 {
        top: 394px;
        left: -30px;
    }
    .mac2 {
        top: 510px;
    }
    .parallax-time-name {
        font-size: 32px;
    }
    .parallax-text {
        font-size: 32px;
    }
    .coopyight-text1 {
        font-size: 13px;
    }
    .coopyight-text {
        font-size: 13px;
    }
    #buuut_dec {
        width: 87px;
        font-size: 7px;
    }
    #buuut_prev {
        width: 88px;
        font-size: 7px;
    }
    
    .info-content {
        max-height: 91%;
    }
    .info-content-title{
        padding: 60px;
    }

}
