*{
    box-sizing: border-box;
}
body{
    background:#000000;
}

canvas{
    padding-top: 15px ;
}

.tex{
    padding-top: 35px;
    color: #FFFAFA;
    font-family: Courier;
    font-size: 45px;
    font-weight: 900;
}