*{
    box-sizing: border-box;
    /* Свойства width и height включают в себя значения полей и границ, но не отступов (margin). */
}
body{
    margin: 0;
    font-family: 'Tahoma', sans-serif;
    background-color: #232323;
}
.header{
    height: 800px;
    width: 100%;
    padding-top: 28px;
    background-color: #f3e1d5;
    background-image: url('img/доделаем1.png');
    background-size: cover;
    background-position: center;
}


.header__nav-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.header__logo{
    color: #f3e1d5;
    font-weight: 900;
    text-decoration: none;
}

.header__nav-link{
    color: #f3e1d5;
    text-decoration: none;
    margin-right: 52px;
}

.header__nav-link:last-child{
    margin-right: 0;
}

.header__nav-link:hover{
    border-bottom: 1px solid #f3e1d5;
    cursor: pointer;
}
.top-info__row{
    display: flex;
    justify-content: space-around;
}
.header__button{
    color: #f3e1d5;
    text-decoration: none;
    cursor: progress;
}

.sidebar{
    position: absolute;
    width: 240px;
    background-color: #665eaf;
    border-right: 4px solid #665eaf;
    left: -285px;
    -moz-transition: all 1000ms;
    -webkit-transition: all 1000ms;
    transition: all 1000ms;
    z-index: 1;
}
.sidebar.active{
        left:0;
    }

.sidebarul{
    font-family: 'Tahoma', sans-serif;
    color:#141313;
    font-size: 30px;
    font-weight: 600;
    list-style: none;
padding-bottom: 10px;
    padding-right: 20px;


}

.sidebarli{
    font-family: 'Tahoma', sans-serif;
  color:#141313;
    font-size: 20px;
    list-style: none;

}

.sidebarul:hover{
    color:#393737;
    cursor: pointer;
}
.sidebarli:hover{
    color:#393737;
    cursor: pointer;
}
.toggle-btn{
    position: absolute;
    left:289px;
    top: 4px;
    background-color: #E0E5EA;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
}
.sidebar .toggle-btn span{
    display: block;
    width: 25px;
    height: 4px;
    background-color: #666;
    margin: 4px 0;
}
.sidebar .toggle-btn:hover{
    background-color: #556270;
}


.kartinka{
    display: flex;
    justify-content: center;
}


.texttt1{
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.mac  {
    position: relative;
    top: 53px;
    left: 238px;
    width: 841px;
    height: 654px;
}

.mactext{
    display: flex;
    flex-direction: column;
position: absolute;
margin: 70px;
left:0;
top: 0;
}
.mactext1{
    font-family: 'Tahoma';
    font-size: 52px;
    color: snow;
}

.mactext2{
    font-family: 'Tahoma';
    font-size: 75px;
    color: snow;
    font-weight: 900;
}

.mac1{
    position: relative;
    top: 147px;
    left: -50px;
}
.mactextt{
display: flex;
flex-direction: column;
position: absolute;
margin: 60px;
left:0;
top: 0;
}
.mactext3{
    margin-top: 20px;
    font-family: 'Tahoma';
    font-size: 32px;
    color: snow;
}
.mactext4{
    font-family: 'Tahoma';
    font-size: 59px;
    color: snow;
    font-weight: 900;
}

.mac2{
    position: relative;
    top: 356px;
    left: -160px;
}

.mactexttt{
    display: flex;
flex-direction: column;
position: absolute;
margin: 55px;
left:0;
top: 0;
}
.mactext5{
    margin-top: 20px;
    font-family: 'Tahoma';
    font-size: 16px;
    color: snow;
}
.mactext6{
    font-family: 'Tahoma';
    font-size: 35px;
    color: snow;
    font-weight: 900;
}


.comtainer{
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden; 
}
.container2{
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
}
.top-info{
    padding-top: 44px;
    padding-bottom: 60px;
}
.info--wide{
    position: relative;
    width:902px;
    height: 402px;

}
.perviy-class-video{
    position: absolute;
    display: block;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.info{
    position: relative;
    width: 418px;
    height: 402px;
    /* ласт строчка адаптив это */
}
.info-content{
    display: block;
    opacity: 0;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 76, 255, 0.75);
    font-family: 'Teko' , sans-serif;
    transition: opacity 0.2s ease-in;
    
}
.info-content:hover{
    opacity: 0.5;
    cursor: pointer;
}

.info-content-title{
    position:absolute;
    width: 270px;
    top: 140px;
    left:81px;
    font-family: 'Tahoma', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color:snow;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 2.73px;
}

.products{
    padding-top: 60px;
    padding-bottom: 65px;

}

.products__title{
    color:snow;
    font-family: 'Tahoma', sans-serif;
    font-size: 53px;
    font-weight: 700;
    line-height: 1.3;
    text-transform: uppercase;
    margin-bottom: 45px;
    text-align: center;
    margin-bottom: 75px;

}
.products__row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.products-cart{
    position: relative;
    margin-bottom: 60px;
    overflow: hidden;    /* не выходит за картинку */
 
}
.products-cart__img{
    height: 380px;
    width: 410px;
    

}


.products-cart__title {
    color: snow;
    font-weight: 700;
    font-size: 25px;
    position: absolute;
    left: 0px;
    top: -25px;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0,.5);
    max-width: 401px;
    max-height: 445px;
    padding-top: 220px;
    text-align: center;
    opacity: 0;
    transform: scale(0) rotate(90deg);
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;

}

/* при наведении на  products-cart меняется products-cart__title(его прежние свойства) */
.products-cart:hover .products-cart__title{
    opacity: 1;
    transform: scale(1) rotate(0deg);
}






.products__title23{
    margin-top: 60px;
}


.po{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
.calculator{
   position: relative;
   display: grid;
   font-size: 18px;

}

.calculator .value{
   grid-column: span 4;
   height: 100px;
   text-align: right;
   border: none;
   outline: none;
   padding: 10px;
   font-size: 18px;
}
.calculator span{
    display: grid;
    width: 60px;
    height: 60px;
    color: #fff;
    background: #0c2835;
    place-items: center;
    border: 1px solid rgba(0,0,0,.1);
}

.calculator span:hover {
    background: #183b4b;
}


.calculator span.clear{
    grid-column: span 2;
    width: 120px;
    background: #ff3077 ;

}

.calculator span.clear:hover {
    background:  #ff4e8c;
}

.calculator span.plus{
    grid-row: span 2;
    height: 120px;
    
}
.calculator span.qu{
    background: #03b1ff;
}
.calculator span.qu:hover {
    background:  #6ecaf5;
}


.nadpis{
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-nadpis h1{
    color: snow;
    font-size: 90px;
    font-weight: 900;
}

.form-nadpis span{
    color: yellow;
    font-size: 90px;
    font-weight: 900;
}

.footer{
    padding-top: 10px;
}
.container5{
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
}

.footer_row{
    display: flex;
    justify-content: space-between;
}
.footer_column{
    
    max-width: 250px;
    color: snow;
}

.footer_title{
font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

.footer_text{
    font-size: 17px;
    font-weight: 400;
    line-height: 1.7;
}

.footer-list{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 17px;
    line-height: 1.5;
}
.footer-list_item{
    margin-bottom: 15px;
}

.socials{
display: flex;
flex-direction: row;
}

.social-item{
    width: 50px;
    height: 50px;
}

.coopyright{
    max-width: 1310px;
    border-top: 1px solid #b2b2b2;
    padding-top: 40px;
    padding-bottom: 50px;
}
.container7{
    display: flex;
    justify-content: space-between;
    
}
.coopyight-text{
    font-weight: 600;
    font-size: 17px;
    color: snow;

}
.coopyight-text1{
    font-weight: 900;
    font-size: 17px;
    color: snow;
    text-decoration: none;
}



@media only screen and ( max-width: 1200px){
    .sidebar{
        display: none;
    }

    .mac2{
        left: -300px;
    }
    .mac{
        left: 314px;
    }
    .container6{
        margin-left:0;
    }
    .footer{
        padding-top:70px;
    }
}

@media only screen and ( max-width: 992px){

    .mac2{
        left: -300px;
    }
    .mac{
        left: 314px;
    }
    .container6{
        margin-left:0;
    }
}
@media only screen and ( max-width: 768px){
   
    .mac1{
        display: none;
    }
    
    .mac2{
        display: none;
    }
    .container6{
        margin-left:52px;
    }
    
    .footer_column{
        max-width: 139px;
    }
    .footer_title{
        font-size: 21px;
        line-height: 23px;
        display: block;
    }
    
}


